:root {
  --success: #2ecc72;
  --error: #e43723;
  --form: #0f810c;
  --hover: #1ed529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--form);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  color: white;
}

.container {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  font-size: 1rem;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 5px;
  border-bottom: 1px solid white;
}

.register {
  padding: 25px 35px;
}

.register-button.reg:hover,
.register-button.reg:focus {
  background-color: yellow;
}

.register-button.reg {
  cursor: default;
  background-color: yellow;
  color: black;
}

.field {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input {
  width: 100%;
  padding: 5px;
  border: 2px solid white;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
}

.register-button {
  text-transform: uppercase;
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #0f921d;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.register-button:hover,
.register-button:focus {
  background-color: #1db419;
  transform: translateY(-2px);
}

.author {
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.field input.success {
  border: 3px solid var(--success);
}

.field input.error {
  border: 3px solid yellow;
}

.field span {
  margin-top: 10px;
  display: inline-block;
  color: yellow;

  visibility: hidden;
}

.field span.success {
  color: var(--success);
}

.field span.error {
  color: yellow;
  visibility: visible;
}
